<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">
                 {{title}}
            </h1>
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/myinfo/list">관리자정보</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/pageinfo/list">페이지정보</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/skills/list">내 스킬 정보</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/timeline/list">내 타임라인 정보</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/portfolio/list">내 포트폴리오 정보</a>
                    </li>
                </ul>
                <a href="/pageinfo/write">글쓰기</a>
            </div>
        </div>
    </div>
   
</body>
</html>