<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="portfolio">
    <div class="container pagecontainer mt-5">
        <h1 class="text-center">
                 포트폴리오 수정
        </h1>
        <form name="form" id="form" 
              method="post" 
              action="/portfolio/edit"
              enctype="multipart/form-data"
        >
        <!-- loop -->    
        <ul class="list-group">
          <li class="list-group-item">
             <div class="row mb-3">
                <div class="col-6">
                  <label class="d-block mx-1 my-2">
                     카테고리
                  </label>                      
                     <select class="form-control" id="select-category" name="category">
                           <option value="">선택하세요.</option>
                           {% for row in rs %}
                              <option value="{{row.id}}">{{row.name}}</option>
                           {% endfor %}
                     </select>
                </div>
                <div class="col-6">
                  <label class="d-block mx-1 my-2">
                     링크
                  </label>                      
                     <input type="text" name="link" id="link" class="form-control" value="{{res.link}}">
                </div>
               </div>
               </li>

               <li class="list-group-item">
                  <div class="row mb-3">        
                <div class="col-12">
                  <label class="d-block mx-1 my-2">
                     포트폴리오제목
                  </label>                      
                  <input type="text" name="title" id="title" class="form-control" value="{{res.title}}"/>
               </div>
             </div>
             </li>
             <li class="list-group-item">
                <div class="row">
                  <div class="col-12 mt-3">
                     <label class="d-block mx-1 my-2">
                      포트폴리오 설명
                     </label>
                     <textarea name="content" 
                     id="content" 
                     class="form-control" 
                     rows="5">{{res.content}}</textarea>
                   </div>
                </div>
            </li>
           
            <li class="list-group-item">
              <label class="d-block mx-1 my-2">
                이미지 업로드
               </label>
              <div class="row mb-3">
                <div class="col-12 mt-3 d-flex justify-content-end">
                   <button type="button" class="btn btn-info me-3" id="addFile">폼추가</button>
                   <button type="button" class="btn btn-danger" id="delFile">폼제거</button> 
                </div>
                <div class="col-12 img mt-3" id="myfiles">
                  {% for img in res.orimg %}
                    <div class="d-flex align-items-center border-bottom">
                       <div class="col-2">
                           <label>
                              <input type="checkbox" value="ok" name="imgok" class="imgok">
                              이미지업데이트
                           </label>
                       </div>
                       <div class="col-3">
                          <p class="imgtxt">{{img}}</p>
                       </div>
                       <div class="col-7">
                           <input type="file" name="img" class="newimg form-control mb-3" /> 
                       </div>
                    </div>
                  {% endfor %}
                    
                
                  </div>
              </div>
            </li>
        </ul>
        <div class="btn-box d-flex justify-content-center my-5">
           <button type="reset" id="addFile" class="btn btn-warning mx-4 px-5"> 취소 </button>
           <button type="submit" id="delFile" class="btn btn-success mx-4 px-5"> 전송 </button>
        </div>
        <!-- / loop -->
        </form>
      </div>      

<script>
function selectControl(str) {
     const el = document.getElementById("select-category");
     const maxOpt = el.options.length;
     for(let i = 0; i < maxOpt; i++){
        if(el.options[i].value == str) {
           el.options[i].selected = true;
        }
     }
  }
  selectControl("{{res.category._id}}");
 
   //이미지 삭제 / 보관 이벤트 
   const checkboxes = document.querySelectorAll(".imgok");
   const newImgs = document.querySelectorAll(".newimg");

   checkboxes.forEach((checkbox, index)=>{
       let imgTxt = document.getElementsByClassName("imgtxt")[index];
       let myTxt = imgTxt.textContent;
       checkbox.addEventListener("click", ()=>{
           if(checkbox.checked){
              imgTxt.textContent = "(삭제)" + myTxt;
              newImgs[index].style.display = "block";
           }else{
              imgTxt.textContent = myTxt;
              newImgs[index].style.display = "none";          
           }
       })
   });




   const addForm = () => {
         const fileList = document.getElementById('myfiles');
         const newFile = document.createElement('input');
         newFile.type='file';
         newFile.name='img';
         newFile.classList.add('img');
         newFile.classList.add('form-control');
         newFile.classList.add('mb-3');
         fileList.appendChild(newFile);
   }

   const delForm = () => {
         const delFiles = document.getElementsByClassName('img');
         const maxInput = delFiles.length;
         if(maxInput > 1) {
            const lastInput = delFiles[maxInput-1];
            lastInput.parentNode.removeChild(lastInput);
         }else{
            alert('더이상 삭제할수 없습니다.');
         }
   }

   document.getElementById('addFile').addEventListener('click', ()=>{
       addForm();
   });  
   document.getElementById('delFile').addEventListener('click', ()=>{
       delForm();
   }); 
</script>

</body>
</html>