<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">

</head>
<body class="pageinfo">
    <div class="container">
        <h1 class="my-5 py-4 text-center">{{ title }}</h1>
        <div class="d-flex justify-content-between my-5">
           <a href="/" class="btn btn-primary">목록</a>
           <a href="./write" class="btn btn-success">데이터입력</a>
        </div>
            <div class="row">
                <!--loop-->
                {% for rs in row %}
                <a href="edit/{{rs.id}}" class="col-3 my-4">
                    <div class="card">
                        {% for image in rs.img %}
                        <img src="/pageinfo/{{image}}" class="card-img-top"/>
                        {% endfor %}
                        <div class="card-body">
                            <h3>{{rs.pagename}}</h3>
                            <h1>{{rs.title}}</h1>
                            <p>{{rs.content}}</p>
                            {% for ani in rs.animated %}
                                <p>{{ani}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </a>
                {% endfor %}
                <!--/loop-->
            </div>
    </div>
</body>
</html>