*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #333;
  color: #fff;
  font-family: 'Sunflower',sans-serif;
}
.container{
  max-width: 50%;
  margin: 30px auto;
  padding: 50px 30px;
}
h1{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
input{
  width: 100%;
  padding: 0.9rem;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #312346;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
  outline: none;
}

.container2{
  margin-top: 40px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 20px;
}
label{
  display: block;
  margin-bottom: 10px;
}
.bold{
  font-weight: 700;
}
.bold span{
  color:#d8c6f4;
}
button{
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #564371;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}