body{
  margin: 0;
}
.header{
  background-color: yellow;
}
.title{
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.headtxt1{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 20px;
  justify-content: space-between;
  text-align: left;
  color: blueviolet;
  margin: 0px;
}
.headtxt2{
  font-size: 15px;
  display: block;
  list-style: none;
  text-align: right;
  margin-top: -20px;
}
.headtxt2>ul{
display: inline-flex;
list-style: none;
}
.headtxt2>ul>li{
  padding: 10px;
}
.btn-head{
  border: 0px solid;
  background-color: blueviolet;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  font-size: 25px;
  margin-right: 50px;
  margin-left: 30px;
}
h1{
  color: rgb(138, 226, 241);
}