@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Bungee+Spice&family=Kanit:ital@1&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@700&family=Pacifico&family=Poppins:ital,wght@0,400;0,700;0,800;0,900;1,800&family=Roboto+Mono:ital,wght@0,500;1,400&family=Sunflower:wght@700&display=swap');
@import url(remixicon.css);
@import url(slick.css);
@import url(slick-theme.css);
@import url(bootstrap.min.css);
@import url(jquery.mobile-1.4.5.css);


.custom-input{
    border:none;
    height:50px;
    border-radius:25px;
    padding:10px 20px;
}

body{
    /*
font-family: 'Noto Sans KR', sans-serif;*/
font-family: 'Sunflower', sans-serif;
}
.ui-page{
    background-color: #efefef;
    border-color: #efefef;
}
/*  INTRO  */
.intro-img01{
    width: 85%;
    margin-top: 60px;
    margin-bottom: 70px;
    position: relative;
    animation: motion 1.5s ease-in-out alternate infinite;
}
.intro-title span{
    font-size: .6em;
    font-weight: 300;
}
.intro-title{
    text-align: center;
    margin: 12px auto 15px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.intro-description{
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: 300;
    font-size: 1.2em;
}
#custom-stepper{
    width: 100%;
    text-align: center;
}
.stepper{
    height: 10px;
    width: 10px;
    background-color: #febae8;
    border-radius: 50%;
    display: inline-block;
}
.stepper.act
{
    background-color: #bebebe;
}
.btn-box{
    padding-top: 1.5em;
    padding-bottom: 3em;
}

@keyframes motion{
from{
    left: 0px;
    top:0px;
}
to{
    left: 0px;
    top: 15px;
}
}


/**** lOGIN ****/
.ui-content >img{
    width: 100%;
    height: 300px;
    background-color: #bbb;
}
#sign-in-text{
    font-family: 'Sunflower', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 50px;
}
#login-screen form{
    padding-left: 2em;
    padding-right: 2em;

}
.custom-input{
    border: none;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px;
}
.ui-focus{
    box-shadow: none !important;
}
input[type=text],
input[type=password]{
    font-size: 16px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
}
.login-btn,
.register-btn{
    background-color: #323335;
    width: 100%;
    margin-top: 1.5em;
    height: 50px;
    border-radius: 25px;
    font-size: 1.2em;
    line-height: 40px;
    text-shadow: none;
}
.ui-page-theme-a a{
    color: #333 /*{a-link-color}*/;
    font-weight: bold;
}
form{
    padding-left: 2em;
    padding-right: 2em;
}
/**  Main  **/
#home-screen{
    padding-left: 5px;
    padding-right: 5px;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: transparent /*{a-bar-background-color}*/;
    border-color: transparent /*{a-bar-border}*/;
    color: #333 /*{a-bar-color}*/;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eee /*{a-bar-shadow-color}*/;
    font-weight: bold;
}
#mypanel{
    margin-top: 10px;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    list-style: none;
}
#mypanel a{
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    text-decoration: none;
}
#mypanel a:hover{
    color: violet;
}
.logobox{
    width: 800px;
    margin: 20px auto;
    position: relative;
}
.logobox img{
    max-width: 50%;
}
.logobox h1{
    font-size: 25px;
    margin-top: 20px;
    position: relative;
    top: -10px;
    left: 60px;
}
.nav{
    cursor: pointer;
    display: inline-block;
    top:20px;
    right: 1em;
}
.nav i{
    font-size: 2em;
}
form .ui-input-saerch{
    border-radius: 20%;
    padding-left: 5em;
    padding-right: 5em;
}
.slider{
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.slider img{
    width: 100%;
}
.slick-dots{
    bottom: 0px;
}
